# Get News Tweets

In [1]:
import pandas as pd
import scraper
import json

from datetime import datetime

In [2]:
news_accounts = pd.read_csv('data/news/twitter_users_news.csv', header=None, names=['handle', 'id', 'website'])
news_accounts

             handle         id                    website
0             20min   15786941                   20min.ch
1         20Minutes    2649991               20minutes.fr
2               20m   31090827               20minutos.es
3       7NewsSydney  156464691              7news.com.au/
4          9NewsAUS   22993014              9news.com.au/
..              ...        ...                        ...
973     MinuteHebdo  300844766            minute-hebdo.fr
974  canardenchaine  596420812        lecanardenchaine.fr
975   courrierinter   83864876  courrierinternational.com
976     humanite_fr   53029114                humanite.fr
977           leJDD   49678509                   lejdd.fr

[978 rows x 3 columns]

In [3]:
news_accounts.dtypes

handle     object
id          int64
website    object
dtype: object

In [4]:
start_date = datetime.strptime('2022-03-16', '%Y-%m-%d')

In [5]:
end_date = datetime.strptime('2022-04-01', '%Y-%m-%d')

In [6]:
dump_path = f'data/news/news_tweets/{start_date.strftime("%Y-%m-%d")}__{end_date.strftime("%Y-%m-%d")}/'

In [7]:
dump_path

'data/news/news_tweets/2022-03-16__2022-04-01/'

In [9]:
client = scraper.create_client(scraper.init())

tweets, users = scraper.get_users_tweets(client=client,
                                         user_ids=news_accounts['id'].tolist())

978
None
None

100%|████████████████████████████████████████████████████████████████| 978/978 [1:18:41<00:00,  4.83s/it]

In [10]:
with open(dump_path + 'tweets.json', 'w') as fout:
    json.dump(tweets, fout)

with open(dump_path + 'users.json', 'w') as fout:
    json.dump(users, fout)